<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <div *ngIf="user && user.id" class="card">
        <img class="card-img-top" [src]="user.image_url" [alt]="user.name" class="img-fluid" *ngIf="user.image_url">
        <div class="card-block">
          <h4 class="card-title">{{user.name}}</h4>
          <p class="card-text text-justify">{{user.bio | truncate: 130}}</p>
          <a routerLink="/profiles/{{user.slug}}" class="card-link small text-right">+ See more</a>
        </div>
      </div>
    </div>
    <div class="col-9">

      <tabset type="pills">
        <tab heading="Global">
          <hr>
          <articles-list [feed]="false"></articles-list>
        </tab>
        <tab [disabled]="!user?.id" heading="Feed">
          <hr>
          <articles-list [feed]="true"></articles-list>
        </tab>
      </tabset>
    </div>
  </div>
</div>
