<div class="container">
  <p class="lead text-muted" *ngIf="loading">
    <i class="fa fa-cog fa-spin fa-fw"></i> Loading...
  </p>

  <div class="alert alert-info" *ngIf="articles?.length == 0">
    <i class="fa fa-th fa-fw"></i> No articles yet...
  </div>

  <nav [hidden]="loading || totalPages <= 1">
    <ul class="pagination">
      <li class="page-item" [class.active]="pageNumber === currentPage" *ngFor="let pageNumber of totalPages" (click)="setPageTo(pageNumber)">
        <a class="page-link">{{pageNumber}}</a>
      </li>
    </ul>
  </nav>

  <ul class="list-unstyled article-list">
    <li *ngFor="let article of articles" class="media my-4">
      <img class="d-flex mr-3" [src]="article.user.image_url" [alt]="article.user.name" *ngIf="article.user && article.user.image_url">
      <div class="media-body">
        <span class="small text-muted pull-right">{{article.created_at | date}}</span>
        <h5 class="mt-0">
          <a routerLink="/profiles/{{article.user.slug}}">{{article.user.name}}</a> <small>{{article.title}}</small>
        </h5>
        <p class="text-justify">
          {{article.content | truncate: 450}}
          <a class="btn btn-link btn-sm" routerLink="/articles/{{article.slug}}"><i class="fa fa-arrow-right fa-fw"></i> See more</a>
        </p>
      </div>
    </li>
  </ul>
</div>
